<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
  </head>

  <body>
   <div class="container">
    <h1 class="site-logo">Rails Blog</h1>
    <p>recent changes test</p>
    <%= yield %>
   </div>
  </body>
</html>
